 @charset "UTF-8";
 
 *{
 	margin:0;
 	padding:0;
 	box-sizing:border-box;
 }
 
 body{
  
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 100px;
 
 }
 
.index{
  
  width: 100vw;
  height: 100vh;
  overflow:hidden;
 
 }
 
.wm a{
	text-decoration:none;
	
}
 
 nav{
 	height:10vh;
 	color:#ffffff;
 	text-transform: uppercase;
 	
 	
 }
 
  
 a{ 
 	cursor:pointer;
 	font-weight:bold; 
 	font-size: 0.8em;	
 	 	
 }
 
 a.btn-nav:hover{
 	color: #757575;
 }
 
 
 
.neo-section{
  width: 100vw;
  height: 100vh;
  padding: 20px 0;
  background-position: 20% 35%;
  background-size: cover;
}
 	
 
 
  
 .wm{
 	width:50%;
 	float:left;

 }
 
 .center{
  	text-align: center;
  }
  
  .neo-container{
  	padding: 2% 2%;
  	margin: 0 auto;
  	margin-top:40px;

  }
  
    

  .neo-section > .neo-container{
  	
  	position: relative;
  	z-index: 105;
  	
  }
  
.containerCh{
  	padding-bottom: 2%;
  
  	
  }
  
  
  .texto-centro{
    color:#212121;
  	font-size: 3em;
  	font-family: 'Ubuntu';
  	font-weight:bold;
  }
  
 
  .btn{
  	
  	width: 18vw;
  	color:#212121;
  	border-radius: 10px;
  	border: 3px solid #BDBDBD;
  	padding: 10px;
  	font-weight: bold;
  }
  
  .botaoListMor{
  	width: 10vh;
  	height:6vh;
  	padding:3px;
  
  	
  }
  
    
  .botoes{
  	padding: 2% 15%;
  	
  }
  
  .btn:hover{
  	 color:#FAFAFA;
  	 background-color: rgba(0,0,0,0.5);
  	
  }
  
  
  .clear{
   clear: both;
  
  }
  
  .sombra{
    
   	top: 0;
  	left:0;
  	position: absolute;
  	z-index: 100;
  }
  
  
 
 
 
  
  /* RESPONSIVIDADE */
  
  @media screen and (max-width: 667px){
  
  .wm{
  	width:100%;
  }
  
  nav{
  	height: 100%;
  }
  
  .neo-container{
  	margin-top:120px;
  }
  
  .botoes{
  	margin-left:0;
  }
  
  .btn{
  	font-size: 0.8em;
  	
  }
  
  .texto-centro{
   	font-size: 2em;
  	
  }
  
  .botoes{
   	margin-left: 10px;
   	padding: 2% 15%;
   }
   
  }
  
   @media screen and (max-width: 767px){
   
  .botoes{
   	margin-left: 10px;
   	padding: 2% 15%;
   }
  
}
   @media only screen and (max-width: 1050px){
  	.botoes{
  		padding: 2% 21%;
  		margin-left:50px;
  	}
  		
 }
   
   
   
  
  